<%= f.cms_text_field :name %>

<%
	#Helper methods (since helpers in modules aren't exactly working) 

	#Simple helpers for giving HTML id's for multiple radio buttons and checkboxes
	def checkbox_id(id)
		str_id "checkbox_", id
	end
	
	def radio_id(id)
		str_id "radio_", id
	end

	def str_id(str, id)
	 	str + id.to_s
	end
%>

<h4>Options</h4>

<% #Local variables %>
<% @p = f.object %>
<% @old_rec = !@p.new_record? %>
<% @m_name = "staff_portlet" %>

<% @site_par_id = @old_rec ? @p.site_parameter_partial.id : -1 %>
<% @staff_pars = @old_rec ? @p.staff_parameter_partials : [] %>
<%= f.label "Source Credentials" %>
<div>
<% SiteParameterPartial.all.each do |pp| -%>	
	<% @r_id = radio_id(pp.id) %>
	<%= label_tag @r_id, pp.name, { :title => pp.options.to_hash.to_yaml } %>
	<%= f.radio_button "site_parameter_partial_id[]", pp.id , { :id => @r_id, 'checked' => @site_par_id == pp.id ? true : false } %>
<% end %>
</div>
</br>

<%= f.label "Staff Options" %>
<div>
<% StaffParameterPartial.all.each do |pp| -%>
	<% @c_id = checkbox_id(pp.id) %>
	<%= label_tag @c_id, pp.name, { :title => pp.options.to_hash.to_yaml } %>
	<%= f.check_box "staff_parameter_partial_id[]", { :id => @c_id, 'checked' => @staff_pars.any?{ |sp| sp.id == pp.id } ? true : false }, pp.id %>
<% end %>
</div>

<%= f.cms_template_editor :template %>
