<%= f.cms_text_field :name %>

<h4>Options</h4>

<%= raise f.object.instance_variables.inspect.to_s %>

<%= f.label "Source Credentials" %>
<% SiteParameterPartial.all.each do |pp| -%>
	<div>
 	   <%= radio_box_tag :parameter_partial_id, pp.id %>
    </div>
<% end %>

<%= f.label "Staff Options" %>
<% SiteParameterPartial.all.each do |pp| -%>
	<div>
 	   <%= radio_box_tag :parameter_partial_id, pp.id %>
    </div>
<% end %>

<%= f.cms_template_editor :template %>
