<%= f.cms_text_field :name %>

<h3>Authentication</h3>
<%= f.label "SourceCredentials" %>
<%= f.cms_text_field :source_name %>
<%= f.cms_text_field :password %>
<%= f.cms_text_field "SiteIDs" %>

<h3>Filters</h3>
<%= f.cms_text_field "StaffIDs" %>

<h4>Staff Types</h3>
<%= f.cms_check_box :staff %>
<%= f.cms_check_box :appointment_instructor %>
<%= f.cms_check_box :class_instructor %>
<%= f.cms_check_box :past_instructor %>

<h4>Fields</h4>
<%= f.cms_check_box :name %>
<%= f.cms_check_box :bio %>
<%= f.cms_check_box :image %>
<%= f.cms_check_box :id %>


<%= f.cms_template_editor :template %>
